.header {
    padding: 1em 0 0.5em 0;
    text-align: center;
    box-shadow: 0em 0.5em 0.5em -0.5em gray;
    font-family: "shrikhand";
    position: relative;
    font-size: 1.2em;

    &__logo {
        margin: 0;
    }
 
    &__arrow
    {
        position: absolute;
        left: 2rem;
        height: 2rem;
        width: 2rem;
        top: 1.7em;
        font-size: 1.2rem;
        color: black;
    }
}